html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
Mixins

border-radius(val)
  -webkit-border-radius: val
  -moz-border-radius: val
  border-radius: val
  
button {
  border-radius(5px);
}

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

button {
  border-radius: 5px 10px;
}

*/
body #contenido {
  position: absolute;
  background-color: #008000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
body #contenido #video_zone {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
body #contenido #video_zone .video_c {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body #contenido #video_zone #controles {
  position: absolute;
  left: -93;
  bottom: 13%;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #controles {
    bottom: 70;
  }
}
body #contenido #video_zone #controles center label {
  position: absolute;
  left: 30%;
  top: 150%;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}
body #contenido #video_zone #controles button {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 40px;
  border: 0px;
}
body #contenido #video_zone #controles button:hover {
  background-color: #f00;
}
body #contenido #video_zone #controles button:active {
  background-color: #00f;
}
body #contenido #video_zone #controles button:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #controles button {
    background-color: #eb012c;
    padding: 20px;
  }
}
body #contenido #video_zone #controles button[name="adelante"] {
  position: relative;
  background: transparent url("../img/direccion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  top: -83px;
  left: 176px;
}
body #contenido #video_zone #controles button[name="adelante"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #controles button[name="adelante"]:active {
  background-color: #00f;
}
body #contenido #video_zone #controles button[name="adelante"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #controles button[name="adelante"] {
    top: 0px;
    left: 136px;
  }
}
body #contenido #video_zone #controles button[name="atras"] {
  position: relative;
  background: transparent url("../img/direccion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 83px;
  left: 88px;
}
body #contenido #video_zone #controles button[name="atras"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #controles button[name="atras"]:active {
  background-color: #00f;
}
body #contenido #video_zone #controles button[name="atras"]:visited {
  background-color: #008000;
}
body #contenido #video_zone #controles button[name="stop"] {
  position: relative;
  background: transparent url("../img/stop.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #f12f02;
}
body #contenido #video_zone #controles button[name="stop"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #controles button[name="stop"]:active {
  background-color: #00f;
}
body #contenido #video_zone #controles button[name="stop"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #controles button[name="stop"] {
    top: 41px;
    left: 39px;
  }
}
body #contenido #video_zone #controles button[name="izquierda"] {
  position: relative;
  background: transparent url("../img/direccion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -170px;
}
body #contenido #video_zone #controles button[name="izquierda"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #controles button[name="izquierda"]:active {
  background-color: #00f;
}
body #contenido #video_zone #controles button[name="izquierda"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #controles button[name="izquierda"] {
    top: 42px;
    left: -50px;
  }
}
body #contenido #video_zone #controles button[name="derecha"] {
  position: relative;
  background: transparent url("../img/direccion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -94px;
}
body #contenido #video_zone #controles button[name="derecha"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #controles button[name="derecha"]:active {
  background-color: #00f;
}
body #contenido #video_zone #controles button[name="derecha"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #controles button[name="derecha"] {
    top: 42px;
    left: -16px;
  }
}
body #contenido #video_zone #camara {
  position: absolute;
  right: 7%;
  bottom: 3%;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara {
    bottom: 7;
  }
}
body #contenido #video_zone #camara center label {
  position: absolute;
  left: 63%;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}
body #contenido #video_zone #camara button {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 40px;
  border: 0px;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button {
    background-color: #eb012c;
    padding: 20px;
  }
}
body #contenido #video_zone #camara button[name="c_izquierda"] {
  position: relative;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 54%;
  bottom: 44;
}
body #contenido #video_zone #camara button[name="c_izquierda"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #camara button[name="c_izquierda"]:active {
  background-color: #00f;
}
body #contenido #video_zone #camara button[name="c_izquierda"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button[name="c_izquierda"] {
    top: -12px;
    left: 70;
  }
}
body #contenido #video_zone #camara button[name="c_izquierda2"] {
  position: relative;
  background: transparent url("../img/direccion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 22%;
  bottom: 44;
}
body #contenido #video_zone #camara button[name="c_izquierda2"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #camara button[name="c_izquierda2"]:active {
  background-color: #00f;
}
body #contenido #video_zone #camara button[name="c_izquierda2"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button[name="c_izquierda2"] {
    top: -12px;
    left: 70;
  }
}
body #contenido #video_zone #camara button[name="c_derecha"] {
  position: relative;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 47%;
  bottom: 44;
}
body #contenido #video_zone #camara button[name="c_derecha"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #camara button[name="c_derecha"]:active {
  background-color: #00f;
}
body #contenido #video_zone #camara button[name="c_derecha"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button[name="c_derecha"] {
    top: -12px;
    left: 79;
  }
}
body #contenido #video_zone #camara button[name="c_derecha2"] {
  position: relative;
  background: transparent url("../img/direccion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 45%;
  bottom: 44;
}
body #contenido #video_zone #camara button[name="c_derecha2"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #camara button[name="c_derecha2"]:active {
  background-color: #00f;
}
body #contenido #video_zone #camara button[name="c_derecha2"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button[name="c_derecha2"] {
    top: -12px;
    left: 79;
  }
}
body #contenido #video_zone #camara button[name="c_arriba"] {
  position: relative;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  top: -88;
}
body #contenido #video_zone #camara button[name="c_arriba"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #camara button[name="c_arriba"]:active {
  background-color: #00f;
}
body #contenido #video_zone #camara button[name="c_arriba"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button[name="c_arriba"] {
    top: -43px;
    left: 2;
  }
}
body #contenido #video_zone #camara button[name="c_abajo"] {
  position: relative;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #0067c3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  left: -88;
}
body #contenido #video_zone #camara button[name="c_abajo"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #camara button[name="c_abajo"]:active {
  background-color: #00f;
}
body #contenido #video_zone #camara button[name="c_abajo"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #camara button[name="c_abajo"] {
    top: 21px;
    left: -45;
  }
}
body #contenido #video_zone #microscopio button[name="mp_arriba"] {
  position: absolute;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #01be46;
  top: 35%;
  right: 1%;
}
body #contenido #video_zone #microscopio button[name="mp_arriba"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #microscopio button[name="mp_arriba"]:active {
  background-color: #00f;
}
body #contenido #video_zone #microscopio button[name="mp_arriba"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #microscopio button[name="mp_arriba"] {
    top: -43px;
    left: 2;
  }
}
body #contenido #video_zone #microscopio button {
  position: absolute;
  top: 45%;
  right: 1%;
  padding: 30px;
  -webkit-border-radius: 26%;
  border-radius: 26%;
  border: 0px;
  background: transparent url("../img/camara.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #01be46;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #microscopio button {
    padding: 20px;
  }
}
body #contenido #video_zone #microscopio button:hover {
  background-color: #f00;
}
body #contenido #video_zone #microscopio button:active {
  background-color: #00f;
}
body #contenido #video_zone #microscopio button:visited {
  background-color: #008000;
}
body #contenido #video_zone #microscopio button[name="mp_abajo"] {
  position: absolute;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #01be46;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 55%;
  right: 1%;
}
body #contenido #video_zone #microscopio button[name="mp_abajo"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #microscopio button[name="mp_abajo"]:active {
  background-color: #00f;
}
body #contenido #video_zone #microscopio button[name="mp_abajo"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #microscopio button[name="mp_abajo"] {
    top: -43px;
    left: 2;
  }
}
body #contenido #video_zone #s_sharp {
  position: absolute;
  bottom: 5%;
  left: 37%;
}
body #contenido #video_zone #s_sharp button {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 40px;
  border: 0px;
}
body #contenido #video_zone #s_sharp button:hover {
  background-color: #f00;
}
body #contenido #video_zone #s_sharp button:active {
  background-color: #00f;
}
body #contenido #video_zone #s_sharp button:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #s_sharp button {
    background-color: #eb012c;
    padding: 20px;
  }
}
body #contenido #video_zone #s_sharp button[name="s_izquierda"] {
  position: relative;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #01be46;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 5%;
}
body #contenido #video_zone #s_sharp button[name="s_izquierda"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #s_sharp button[name="s_izquierda"]:active {
  background-color: #00f;
}
body #contenido #video_zone #s_sharp button[name="s_izquierda"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #s_sharp button[name="s_izquierda"] {
    top: -43px;
    left: 2;
  }
}
body #contenido #video_zone #s_sharp button[name="s_medir"] {
  position: relative;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #01be46;
  -webkit-border-radius: 30%;
  border-radius: 30%;
  padding: 15px 10px;
  border: 0px;
  top: 15px;
  left: 7%;
}
body #contenido #video_zone #s_sharp button[name="s_medir"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #s_sharp button[name="s_medir"]:active {
  background-color: #00f;
}
body #contenido #video_zone #s_sharp button[name="s_medir"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #s_sharp button[name="s_medir"] {
    top: -43px;
    left: 2;
  }
}
body #contenido #video_zone #s_sharp button[name="s_derecha"] {
  position: relative;
  background: transparent url("../img/posicion.png") no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-color: #01be46;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 10%;
}
body #contenido #video_zone #s_sharp button[name="s_derecha"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #s_sharp button[name="s_derecha"]:active {
  background-color: #00f;
}
body #contenido #video_zone #s_sharp button[name="s_derecha"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #s_sharp button[name="s_derecha"] {
    top: -43px;
    left: 2;
  }
}
body #contenido #video_zone #exo_modo {
  position: absolute;
  top: 1%;
  left: 0.5%;
}
body #contenido #video_zone #exo_modo button[name="exo_btn"] {
  background-color: #f00;
  font-weight: bold;
  font-size: 1.7em;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  padding: 10px 10px;
  border: 0px;
}
body #contenido #video_zone #exo_modo button[name="exo_btn"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #exo_modo button[name="exo_btn"]:active {
  background-color: #00f;
}
body #contenido #video_zone #exo_modo button[name="exo_btn"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #exo_modo button[name="exo_btn"] {
    background-color: #eb012c;
    padding: 20px;
  }
}
body #contenido #video_zone #exo_temp {
  position: absolute;
  top: 1%;
  right: 0.5%;
}
body #contenido #video_zone #exo_temp button[name="temp_btn"] {
  background-color: #f00;
  font-weight: bold;
  font-size: 1.7em;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  padding: 10px 10px;
  border: 0px;
}
body #contenido #video_zone #exo_temp button[name="temp_btn"]:hover {
  background-color: #f00;
}
body #contenido #video_zone #exo_temp button[name="temp_btn"]:active {
  background-color: #00f;
}
body #contenido #video_zone #exo_temp button[name="temp_btn"]:visited {
  background-color: #008000;
}
@media screen and (max-width: 600px) {
  body #contenido #video_zone #exo_temp button[name="temp_btn"] {
    background-color: #eb012c;
    padding: 20px;
  }
}
