@import 'nib'
@import 'nib/vendor'
@import 'nib/gradients'
  
global-reset()

$color1 = #DC011E
$color2 = #11ADB9
$color3 = #009865
$color4 = #F9CE47
$color5 = #FB4D24

$color6 = #EB012C
$color7 = #0067C3
$color8 = #01BE46
$color9 = #F3B802
$color10 = #F12F02

/*
Mixins

border-radius(val)
  -webkit-border-radius: val
  -moz-border-radius: val
  border-radius: val
  
button {
  border-radius(5px);
}

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

button {
  border-radius: 5px 10px;
}

*/

.my-modal
	.modal-dialog
		.modal-content
			position: absolute
			left -100px
			width 140%
.temp-modal
	.modal-content
			position: absolute
			font-weight bold
			line-height 1.5em 
			right -62%
			top 29px
			width 30%
.distancia-modal
	.modal-content
			position: absolute
			font-weight bold
			top 390px
			left 31%
			width 28%

		

body
	#contenido
		position absolute
		background-color green
		left 0
		top 0
		width 100%
		height 100%
		#video_zone
			position relative
			left 0
			top	0
			width 100%
			height 100%
			background black
			.video_c
				position absolute
				top 0
				left 0
				width 100%
				height 100%

			#controles
				position absolute
				left -5%
				bottom 13%
				@media screen and (max-width: 600px)
					bottom 70

				//background-color blue
				center
					label
						position: absolute
						left 30%
						top 150%
						font-weight bold
						font-size 1.2em
						color white
				button
					border-radius 50%
					padding 40px
					border 0px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						background-color $color6
						padding 20px
				button[name="adelante"]
					position relative
					background transparent url('../img/direccion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					top -83px
					left 176px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top 0px
						left 136px
				button[name="atras"]
					position relative
					background transparent url('../img/direccion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(180deg)
					top 83px
					left 88px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green

				button[name="stop"]
					position relative
					background transparent url('../img/stop.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color10
					left 1.5%
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top 41px
						left 39px
				button[name="izquierda"]
					position relative
					background transparent url('../img/direccion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(-90deg)
					left -161px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top 42px
						left -50px

				button[name="derecha"]
					position relative
					background transparent url('../img/direccion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(90deg)
					left -19%
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top 42px
						left -16px

			#camara
				position absolute
				right 7%
				bottom 3%
				@media screen and (max-width: 600px)
					bottom 7


				//background-color blue
				center
					label
						position: absolute
						left 63%
						font-weight bold
						font-size 1.2em
						color white
				button
					border-radius 50%
					padding 40px
					border 0px
					@media screen and (max-width: 600px)
						background-color $color6
						padding 20px
				button[name="c_izquierda"]
					position relative
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(-90deg)
					left 54%
					bottom 44
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -12px
						left 70

				button[name="c_izquierda2"]
					position relative
					background transparent url('../img/direccion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(-90deg)
					left 22%
					bottom 44
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -12px
						left 70
				

				button[name="c_derecha"]
					position relative
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(90deg)
					left 47%
					bottom 44
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -12px
						left 79

				button[name="c_derecha2"]
					position relative
					background transparent url('../img/direccion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(90deg)
					left 45%
					bottom 44
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -12px
						left 79


				button[name="c_arriba"]
					position relative
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					top -88
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -43px
						left 2
				button[name="c_abajo"]
					position relative
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color7
					transform rotate(180deg)
					left -88
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top 21px
						left -45
			#microscopio
				
				button[name="mp_arriba"]
					position absolute
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color8
					top 35%
					right 1%
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -43px
						left 2
				button
					position absolute
					top 45%
					right 1%
					padding 30px
					border-radius 26%
					border 0px
					background transparent url('../img/camara.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color8
					@media screen and (max-width: 600px)
						padding 20px
					//left -88
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
				button[name="mp_abajo"]
					position absolute
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color8
					transform rotate(180deg)
					top 55%
					right 1%

					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -43px
						left 2
			#s_sharp
				position: absolute
				bottom: 5%
				left 37%
				center
					label
						position: absolute
						left 30%
						font-weight bold
						font-size 1.2em
						color white

				button
					border-radius 50%
					padding 40px
					border 0px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						background-color $color6
						padding 20px

				button[name="s_izquierda"]
					position relative
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color8
					transform rotate(-90deg)
					left 5%
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -43px
						left 2
				button[name="s_medir"]
					position relative
					font-weight bold
					font-size 1.1em
					background-color $color8
					border-radius 30%
					padding 15px 10px
					border 0px
					top 15px
					left 7%
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -43px
						left 2
				button[name="s_derecha"]
					position relative
					background transparent url('../img/posicion.png') no-repeat
					background-size 100% 100%
					background-position 50% 50%
					background-color $color8
					transform rotate(90deg)
					left 10%
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						top -43px
						left 2

			#exo_modo
				position: absolute
				top: 1%
				left 0.5%
				button[name="exo_btn"]
					background-color red
					font-weight bold
					font-size 1.7em
					border-radius 10%
					padding 10px 10px
					border 0px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						background-color $color6
						padding 20px

			#exo_temp
				position: absolute
				top: 1%
				right 0.5%
				button[name="temp_btn"]
					background-color red
					font-weight bold
					font-size 1.7em
					border-radius 10%
					padding 10px 10px
					border 0px
					&:hover
						background-color red
					
					&:active
						background-color blue
					
					&:visited
						background-color green
					@media screen and (max-width: 600px)
						background-color $color6
						padding 20px

//@import 'responsive.styl'
