#video_zone{
}

#controles{
	position: absolute;
	left: 5px;
	bottom: 65px;
}

#camara{
	position: absolute;
	right: -210px;
	bottom: 65px;
}
img{
	width: 100%;
	height: auto;
}


button[name=adelante]{
	top: -55px;
	left: 122px;
}

button[name=stop]{
	left: 4px;
}
button[name=atras]{
	bottom: -55px;
	left: -100px;
	
}
button[name=izquierda]{
	right: 336px;
}

button[name=derecha]{
	left: -235px;
}


/*  control camara*/
button[name=c_arriba]{
	bottom: 60;
	right: 185;
}

button[name=c_abajo]{
	top: 60;
	right: 296;
}
button[name=c_izquierda]{
}

button[name=c_derecha]{
}

#microscopio{
	position: absolute;
	top: 2;
	left: 952;
	width: 400px;

}



