@media screen and (min-width: 768px) {
  body {
    width: 40%;
  }
  #microscopio {
    left: 10;
  }
}
@media screen and (min-width: 360px) {
  body {
    width: 40%;
  }
  #microscopio {
    left: 100;
  }
}
